.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
Backend/env
Backend/.env
Backend/media
Backend/import_uploads
Backend/staticfiles
frontend/node_modules
frontend/dist
frontend/.env
